*.swp
*.exe
*.a
*.o
*.lib
*.dll
*.log
*.txt
*.tsv
tests/tuple_tools
tests/decline
examples/arps
examples/compare
examples/compare_typecurve
examples/convex
examples/fit
examples/peakmonth
examples/production
examples/typecurve
